@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,100;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper,
.portfolio,
.contactSection{
   width: 100vw;
   height: 100vh;
   background-color: #191c32;
   color: #fff;

}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.brand{
  margin-top: -7px;
}


.menu{
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu a{
color: #fff;
text-decoration: none;
padding: 10px 20px;
}
.menu li{
  list-style: none;
}

.menu .active{
  color: aqua;
}
.menu a:hover{
  background-color: aqua;
  color: #191c32;
  transition: ease-in .3s;
  
}

.toggleManu,
.infoContent span{
  display: none;
}


.main {

  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
}

h1{
  font-size: clamp(4vw, 1.5em, 3em );
}
.infoContent i{
  width: 50px;
  padding: 10px;
  margin-top: 5px;
  color: #fff;
  border-radius: 20%;
  box-shadow: 8px 5px 20px -8px rgba(102, 231, 200, .69)
}
.infoContent i:hover,
.btn-submit:hover{
  box-shadow: 8px 5px 20px -8px rgba(252, 96, 44, 0.69)


}

.main img{
  width: 350px;
  border: solid aqua 7px;
  z-index: 1;
}

.about{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center; 
}

.about img{
  width: 100%;
  grid-column: 1/5;
}
.aboutInfo{
  grid-column: 5/10;
  padding: 3em;
 }
 .aboutInfo h2 {
  font-size: 2em;
  font-weight: 600;
  color: #191c32;

 }
 .divider{
  height: 4px;
  width: 60px;
  background-color: #191c32;
  margin-top: 5px;
  margin-bottom: 1em;

 }
 .about p{
  margin-bottom: 1em;
 }

 .portfolioHeadings{
  width: 100vw;
  padding: 5em;
 }
 .portfolioHeadings h2{
  font-size: 2.5em;
 }

 .portfolio .container{
  width: 80vw;
  height: 50vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
 }

 .card{
  width: 380px;
  border: 2px solid whitesmoke;
  margin: 1em;

 }

 .cardImage{
  width: 100%;
  height: 150px;
  
 }
 .cardTitle{
  padding: 20px;
  text-align: center;
 }
 .projectsLinks{
  display: flex;
  justify-content: space-evenly;
  color: #fff;
 }
 #photoContact{
  opacity: .3;
 }
 .contactSection{
  display: flex;
 }
 .contactSection h2{
  font-size: 3em;
  font-weight: 600;
 }
 .containerContact{
  display: flex;
  align-items: center;
 }
.contactForm{
  
  
}
.form{
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 3em;

}

.form input{
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.containerContact{
  padding: 3em;
  margin: 0 auto;
}

.form textarea{
  height: 150px;
  background: none;
  color: #fff;
  padding: 1.5em;
  border: none;
  border-bottom: 1px solid #fff;

}
.btn-submit{
  padding: 10px 20px; 
  margin: 1em;
  border: none;
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 8px 5px 20px -8px rgba(102, 231, 200, .69)
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: aqua;
}
.footerContent h2{
  font-size: 3em;
  font-weight: 400;
}
.footerContent h5,
.socialNetwork i{
  font-size: 1.5em;
  font-weight: 400;
}
.socialNetwork{
  display: flex;
  
  justify-content: space-around;
  width: 50%;
  margin-top: 1em;
}

@media (max-width: 1024px){
  .menu{
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    background-color: #2b3058;
    z-index: 100;
    transform: translateX(-110%);
    transition: all .5s ease-in-out;
  }
  .toggleManu{
    display: block;
    font-size: 1.5em;
  }
  .show-menu{

    transform: translateX(0%);
    transition: all .5s ease-in-out;

  }
  .menu li{
    margin: 1.5em;
  }
  .main,
  .about,
  
  .contactSection{
    display: flex;
    flex-direction: column-reverse;
  }
  .main img,
  #photoContact{
    width: min(70%, 320px);
    height: auto;
  }
  .infoContent{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
  .infoContent h1{
    margin-top: 1em;
  }
  .infoContent p,
  .portfolio
  {
    display: none;
  }
  .socialnet {
 display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .contactHeadings h2{
    font-size: 1.8em;
  }
 
}